<%= link_to refinery.root_path, :class => 'logo ir' do %>
  <h1><%= Refinery::Core.site_name %></h1>
<% end %>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
