/* alignment styles */
.text-align-left  {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
.font-size-small {
  font-size: 0.75em;
}
.font-size-normal {
  font-size: 1em;
}
.font-size-large {
  font-size: 1.25em;
}

/* polaroids */
.photo-polaroid, .photo-left-1deg, .photo-left-2deg, .photo-right-1deg, .photo-right-2deg {
  margin: 0 20px 10px 10px;
  padding: 10px 10px 25px 10px;
  background: #eee;
  border: 1px solid #fff;
  +box-shadow(#888 0 2px 5px);
}
.photo-left-1deg {
  +rotate(-1deg);
}
.photo-left-2deg {
  +rotate(-2deg);
}
.photo-right-1deg {
  +rotate(1deg);
}
.photo-right-2deg {
  +rotate(2deg);
}

/* header backgrounds */
.bg-red {
  background-color: $red;
  +background-image(linear-gradient(lighten($red, 20), lighten($red, 5)));
}
.bg-green {
  background-color: $green;
  +background-image(linear-gradient(lighten($green, 20), lighten($green, 5)));
}
.bg-purple {
  background-color: $purple;
  +background-image(linear-gradient(lighten($purple, 20), lighten($purple, 5)));
}
.bg-orange {
  background-color: $orange;
  +background-image(linear-gradient(lighten($orange, 20), lighten($orange, 5)));
}
.bg-blue {
  background-color: $blue;
  +background-image(linear-gradient(lighten($blue, 20), lighten($blue, 5)));
}
